<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Presence</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body><div class="container" style="margin-top: 20%;margin-left: 30%;">
  <form #loginForm="ngForm" (ngSubmit)="connecter(loginForm)">
   <label  style="margin-right: 12.2%;">Login</label> <input type="text" name="login" id="login" [(ngModel)]="userToLog.login" required><br><br>
    <label style="margin-right: 10%;">Password</label><input type="password" name="password" id="password" [(ngModel)]="userToLog.password" required><br><br><br>
    <input  type="submit" value="connecter">
  </form>
  <br><br>{{ resp.admin }}
</div>
</body>
</html>