<div style="align-items: center;">
  <img style="height: 25%; width: 25%; margin-left: 35%; margin-bottom: 5%; margin-top: 5%;" src="./assets/logo.png">
</div>
<div class="container" style="margin-left: 30%;">
  <form #loginForm="ngForm" (ngSubmit)="connecter(loginForm)">
    <div class="form-group">
      <label style="margin-right: 12.2%;">Login</label>
      <input class="form-control-sm border-primary" type="text" name="login" id="login" [(ngModel)]="userToLog.login" required>
    </div>
    <div class="form-group">
      <label style="margin-right: 10%;">Password</label>
      <input class="form-control-sm border-primary" type="password" name="password" id="password" [(ngModel)]="userToLog.password" required>
    </div>
    <button class="btn btn-primary" type="submit">Connecter</button>
  </form>
  <br><br>
  {{ resp.admin }}
</div>
