<div class="card bg-primary text-white">
  <div class="container py-5">
    <h1 class="text-center">Liste des salles</h1>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Département</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="number" name="id" class="form-control" placeholder="id" [(ngModel)]="idRechercher.salle1"></td>
          <td><input type="text" name="nomSalle" class="form-control" placeholder="Nom Salle" [(ngModel)]="idRechercher.nom_salle"></td>
          <td><input type="text" name="nomDepartement" class="form-control" placeholder="Nom Département" [(ngModel)]="idRechercher.nomdepsalle"></td>
        </tr>
        <tr *ngFor="let p of filtre()">
          <td>{{ p.salle1 }}</td>
          <td>{{ p.nom_salle }}</td>
          <td>{{ p.nomdepsalle }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
