<div class="sidebar bg-warning d-flex flex-column" style="position:unset;display:flexbox;">
  <div class="sidebar-header d-flex align-items-center justify-content-center bg-warning">
    <img src="./assets/logo.png" alt="Logo" class="img-fluid" style="height: 200px; width: 250px;">
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/agent" routerLinkActive="active">Agents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/salle" routerLinkActive="active">Salles</a>
    </li>
  </ul>
  <div class="mt-auto p-3">
    <h5>{{loggedUser}}</h5>
    <button class="btn btn-danger" (click)="deconnecter()">Déconnecter</button>
  </div>
</div>
